.add {
    padding: 16px;
}

.addForm {
    display: flex;
    font-size: 1.6em;
    align-items: flex-start;
}

.inputAdd {
    text-transform: lowercase;

    font-family: 'Parisienne';
    font-size: 1.6em;

    background-color: unset;
    outline: unset;
    border: unset;

    flex: 1;

    text-align: center;

    border-bottom: 1px solid white;
}

