@import url('https://fonts.googleapis.com/css2?family=Bungee&family=Parisienne&display=swap');



* {
    box-sizing: border-box;
}

:root {
    --main-red-color: rgb(248, 10, 10);
}



body,html {
    margin: 0;
    padding: 0;
    font-size: 10px;
}

body, #root {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;


    height: 100vh;
    background-color: rgb(44, 44, 38);
}

#root, .App {
    width: 100%;
}

.container {
    text-align: center;
    color: rgb(44, 38, 38);
    background-color: rgb(235, 221, 145);
    width: 70%;
    margin: 200px auto;
    height: 700px;
    border-radius: 4px;
    padding: 32px;
}

.frame {
    border: 2px solid rgb(255, 255, 255);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.Title {
    font-size: 3.6rem;
    font-family: 'Parisienne';
}



.to-do-text {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}

